<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Graphs @ BriansDojo</title>
        <!--[if lte IE 8]><script src="{{ STATIC_URL }}css/ie/html5shiv.js"></script><![endif]-->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/jquery.poptrox.min.js"></script>
        <script src="{{ STATIC_URL }}js/skel.min.js"></script>
        <script src="{{ STATIC_URL }}js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="{{ STATIC_URL }}css/skel.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
            <link rel="stylesheet" href="{{ STATIC_URL }}css/style-xlarge.css" />
        </noscript>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/graphs.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}css/ie/v8.css" /><![endif]-->
        <!--[if IE]><link rel="shortcut icon" href="{{ STATIC_URL }}images/chart_32x32.ico"><![endif]-->
        <link rel="icon" href="{{ STATIC_URL }}images/chart_196x196.png">
    </head>
    <body id="top">

        <!-- Header -->
            <header id="header">
                <a href="{% url 'home' %}" class="image avatar"><img src="{{ STATIC_URL }}images/chart_128x128.png" alt="Charts @ BriansDojo" /></a>
                {% block filters %}
                {% endblock filters %}
                {% block internal_links %}
                {% endblock internal_links %}
                <!--<h1><strong>I am Strata</strong>, a super simple<br />
                responsive site template freebie<br />
                crafted by <a href="http://html5up.net">HTML5 UP</a>.</h1>-->
            </header>

        <!-- Main -->
            <div id="main">
            {% block maincontent %}
            {% endblock maincontent %}
                <!-- One -->
                    <section>
                        <header class="major">
                            <h2>Ipsum lorem dolor aliquam ante commodo<br />
                            magna sed accumsan arcu neque.</h2>
                        </header>
                        <p>Accumsan orci faucibus id eu lorem semper. Eu ac iaculis ac nunc nisi lorem vulputate lorem neque cubilia ac in adipiscing in curae lobortis tortor primis integer massa adipiscing id nisi accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque cubilia.</p>
                        <ul class="actions">
                            <li><a href="#" class="button">Learn More</a></li>
                        </ul>
                    </section>

                <!-- Two -->
                    <section>
                        <h2>Recent Work</h2>
                        <div class="row">
                            <article class="6u 12u$(xsmall) work-item">
                                <a href="images/fulls/01.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/01.jpg" alt="" /></a>
                                <h3>Magna sed consequat tempus</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                            <article class="6u$ 12u$(xsmall) work-item">
                                <a href="images/fulls/02.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/02.jpg" alt="" /></a>
                                <h3>Ultricies lacinia interdum</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                            <article class="6u 12u$(xsmall) work-item">
                                <a href="images/fulls/03.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/03.jpg" alt="" /></a>
                                <h3>Tortor metus commodo</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                            <article class="6u$ 12u$(xsmall) work-item">
                                <a href="images/fulls/04.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/04.jpg" alt="" /></a>
                                <h3>Quam neque phasellus</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                            <article class="6u 12u$(xsmall) work-item">
                                <a href="images/fulls/05.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/05.jpg" alt="" /></a>
                                <h3>Nunc enim commodo aliquet</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                            <article class="6u$ 12u$(xsmall) work-item">
                                <a href="images/fulls/06.jpg" class="image fit thumb"><img src="{{ STATIC_URL }}images/thumbs/06.jpg" alt="" /></a>
                                <h3>Risus ornare lacinia</h3>
                                <p>Lorem ipsum dolor sit amet nisl sed nullam feugiat.</p>
                            </article>
                        </div>
                        <ul class="actions">
                            <li><a href="#" class="button">Full Portfolio</a></li>
                        </ul>
                    </section>

                <!-- Three -->
                    <section>
                        <h2>Get In Touch</h2>
                        <p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
                        {% if messages %}
                        <ul class="success">
                            {% for message in messages %}
                            <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="row">
                            <div class="8u 12u$(small)">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <div class="row uniform 50%">
                                        <div class="6u 12u$(xsmall)">{{ form.sender }}</div>
                                        <div class="6u$ 12u$(xsmall)">{{ form.email }}</div>
                                        <div class="12u$">{{ form.message }}</div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" /></li>
                                    </ul>
                                </form>
                            </div>
                            <div class="4u$ 12u$(small)">
                                <ul class="labeled-icons">
                                    <li>
                                        <h3 class="icon fa-home"><span class="label">Address</span></h3>
                                        1234 Somewhere Rd.<br />
                                        Nashville, TN 00000<br />
                                        United States
                                    </li>
                                    <li>
                                        <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
                                        000-000-0000
                                    </li>
                                    <li>
                                        <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                                        <a href="#">hello@untitled.tld</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>

            </div>

        <!-- Footer -->
            <footer id="footer">
                <ul class="icons">
                    <li><a href="https://github.com/hellsgate1001" class="icon fa-github"><span class="label">Github</span></a></li>
                    <li><a href="mailto: brianwilson1001@hotmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>

            {% block before_body_close %}
            {% endblock before_body_close %}
    </body>
</html>
