{% extends 'base.html' %}

{% block internal_links %}
    {% if object_list %}
    <ul>
        {% for chart in object_list %}
        <li><a href="#{{ chart.slugged_title }}">{{ chart.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock internal_links %}

{% block maincontent %}
    {% if object_list %}
        {% for chart in object_list %}
        <section id="{{ chart.slugged_title }}">
            <header class="major">
                <h2>{{ chart.title }}</h2>
            </header>
            <p>{{ chart.description }}</p>
            <ul class="actions">
                <li><a href="/{{ chart.url }}/" class="button">Learn More</a></li>
            </ul>
        </section>
        {% endfor %}
    {% endif %}
{% endblock maincontent %}
