{% extends 'base.html' %}

{% block filters %}
    <ul>
        <li>Filters will</li>
        <li>go here</li>
    </ul>
{% endblock filters %}

{% block before_head_close %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/hackplot.css" />
{% endblock before_head_close %}

{% block maincontent %}
    <div id="hackplot_chart" style="width:100%;height:480px" data-url="{% url 'hackplot_api:list_locations' %}">
        <div class="map">Alternative content</div>
    </div>
    <div>
        Each dot on the map is the location of at least one failed SSH log in attempt.  Hover over the dot to see more info about the location.
    </div>
{% endblock maincontent %}

{% block before_body_close %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/raphael-min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mapael.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/maps/world_countries.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/hackplot.js"></script>
{% endblock before_body_close %}
