ul {
    list-style-type: none;
}
ul.success {
    border: 1px solid #333;
    border-radius: 2px;
    padding: 0.5em 1em;
}

ul.success li {
    padding-left: 0;
}

form ul.actions {
    margin-top: 2em;
}
