.mapTooltip {
    position : fixed;
    background-color : #fff;
    moz-opacity:0.90;
    opacity: 0.90;
    filter:alpha(opacity=90);
    border-radius:10px;
    padding : 10px;
    z-index: 1000;
    max-width: 400px;
    display:none;
    color:#343434;
    border: solid 1px #333333;
}
.mapTooltip h5 {
    margin-bottom: 0;
}
.mapTooltip div.ipinfo {
    border-bottom: 1px solid #333333;
    margin-bottom: 0.3em;
}
.mapTooltip div > p {
    font-size: 0.7em;
    line-height: 1.5;
    margin-bottom: 0;
}
